@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" );
:root{
    --primary-color: #2095ae;
    --white-color: #fff;
    --pink-color: #900090;
}
.logo img {
    padding-left: 4px;
    padding-top: 3px;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    padding-bottom: 3px;
    
}

div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

div ul li {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    display: flex;
}

div ul li {
    margin-top: 3px.9rem;
    position: relative;
    justify-content: right;
}

div ul li{
    display: flex;
    justify-content: space-between;
}

div ul li a {
    font-size: 3.3rem;
    display: flex;
    justify-content: space-between;


}

div ul li::before{
content: "";
position: absolute;
top: 30px;
left: 0px;
height: 3px;
background: var(--pink-color);
opacity: 0;
transition: all 0.3s ease-in;
display: flex;
justify-content: space-between;
}

div ul li:hover::before {
    opacity: 1;
    width: 100%;
}

.checked{
    color: orange;
    
}

.card-title{
    opacity: 50%;
    transition: 0.3s ease-in-out;
}
.card-title:hover::content{
    opacity: 5%;
    background-color: orange;

}
footer img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}


